<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_picture_comment_path(@picture, @comment) %> |
<%= link_to 'Back', picture_comments_path(@picture) %>
