<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @picture.image %>
</p>

<%= link_to 'Edit', edit_user_picture_path( current_user, @picture) %> |
<%= link_to 'Back', user_pictures_path(current_user) %>
